.ranking__wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.puns__wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.dev__wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.puns__title, .dev__title {
  text-align: center;
}

.puns_table__head {
  background-color: black;
  color: white;
}

.table__data--place-1 {
  width: 10vw;
  background-color: #E1AD01;
}

.table__data--place-2 {
  width: 10vw;
  background-color: grey;
}

.table__data--place-3 {
  width: 10vw;
  background-color: #804A00;
}
